# .github/workflows/build-windows.yml
name: Build Windows

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.13

    - name: Install Poetry
      run: python -m pip install --upgrade pip && pip install poetry

    - name: Install dependencies
      working-directory: ./Frankinator
      run: poetry install --no-interaction --no-ansi

    - name: Build executable with PyInstaller
      working-directory: ./Frankinator
      run: poetry run pyinstaller --onefile --windowed launch.py

    - name: Upload Windows executable
      uses: actions/upload-artifact@v4
      with:
        name: Frankinator-Windows
        path: ./Frankinator/dist/launch.exe
